@-webkit-keyframes MOVE-BG {
  from {
    opacity: 0;
    background-position-x: 1000px;
  }
  to {
    opacity: 1;
    background-position-x: left;
  }
}

@keyframes MOVE-BG {
  from {
    opacity: 0;
    background-position-x: 1000px;
  }
  to {
    opacity: 1;
    background-position-x: left;
  }
}

.investment .btn {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1 rem;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 1.2px;
  width: 196px;
  height: 60px;
  border-radius: 3px;
  text-align: center;
}

.investment h4,
.investment h2,
.investment h5,
.investment h6,
.investment p,
.investment span,
.investment li {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.75;
  letter-spacing: 1.2px;
}

.investment .col-lg-6,
.investment .col-sm-12,
.investment .col-12 {
  padding: 0;
}

.investment .secTitle {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}

.investment .secTitle h4 {
  font-size: 1.5 rem;
  font-weight: 500;
  color: #323232;
}

.investment .secTitle span {
  font-size: 1 rem;
  font-weight: 300;
  color: #787878;
  margin-top: 13px;
}

.investment .bannerSec {
  min-height: calc(100vh - 80px);
  width: 100%;
  background: center center no-repeat;
  background-image: url("../../assets/img/investment/1_inverstment_banner.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.investment .bannerSec h2 {
  color: #ffffff;
  font-size: 1.75 rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 60px;
}

.investment a .carousel-control-prev-icon,
.investment a .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 100%;
  background-color: #787878;
}

.investment .templateSilder .carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #323232;
  margin: 0 10px;
}

.investment .createStoreSec {
  text-align: center;
}

.investment .createStoreSec .stepCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.investment .createStoreSec .stepCard .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #243a6e;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.investment .createStoreSec .stepCard .stepTitle h5 {
  color: #323232;
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 0;
}

.investment .createStoreSec .stepCard .arrowRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 50px 12px;
}

.investment .partnershipSec {
  margin-top: 80px;
  height: 600px;
  background-image: url("../../assets/img/investment/5_background.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.investment .partnershipSec .secTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.investment .partnershipSec .secTitle h4 {
  color: #ffffff;
  margin: 30px auto;
}

.investment .partnershipSec .partnershipContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.investment .partnershipSec .partnershipContent h4 {
  color: #d44f44;
  font-weight: 400;
  margin-bottom: 30px;
  text-decoration: underline;
}

.investment .partnershipSec .partnershipContent ul {
  margin-left: 40%;
  color: #ffffff;
  list-style-type: square;
  list-style-position: inside;
}

.investment .partnershipSec .partnershipContent ul li {
  margin-bottom: 8px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

.investment .partnershipSec .partnershipContent.bgImg {
  background-image: url("../../assets/img/investment/5_subbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

@media (max-width: 768px) {
  .investment .partnershipSec .partnershipContent h4 {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .investment .partnershipSec .partnershipContent ul {
    margin-left: 25%;
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .investment .partnershipSec .partnershipContent ul {
    margin-left: 15%;
  }
}

.investment .feeSec .secTitle {
  padding-top: 60px;
  background-color: #f0f0f0;
}

.investment .feeSec .feeContent {
  position: relative;
  color: #ffffff;
}

.investment .feeSec .feeContent .standardPlan {
  background-color: #243a6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0px 120px 0px;
}

.investment .feeSec .feeContent .premiumPlan {
  background-color: #0d5661;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0px 120px 0px;
}

.investment .feeSec .feeContent img {
  width: 80px;
}

.investment .feeSec .feeContent h4 {
  margin-top: 30px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.investment .feeSec .feeContent .plan {
  padding: 30px 0px;
}

.investment .feeSec .feeContent .plan ul {
  list-style-position: inside;
}

.investment .feeSec .feeContent .plan ul li {
  margin-bottom: 1rem;
}

.investment .feeSec .feeContent .btn {
  position: absolute;
  left: calc(50% - 98px);
  bottom: 60px;
}

.investment .brandListSec {
  margin-bottom: 80px;
}

.investment .brandListSec .brandContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 25px;
}

.investment .brandListSec .brandContent .brandInfo {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.investment .brandListSec .brandContent .brandInfo img {
  height: 200px;
}

.investment .brandListSec .brandContent .brandInfo p {
  font-size: 1.25rem;
  color: #323232;
  margin-top: 16px;
  margin-bottom: 55px;
}

.investment .brandListSec .brandContent i {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  height: 200;
}

.investment .joinSec {
  margin-bottom: 80px;
  background-color: #243a6e;
  text-align: center;
}

.investment .joinSec .joinContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.investment .joinSec .joinContent span {
  color: #ffffff;
  padding: 0 50px;
}

.investment .joinSec .joinContent .btn {
  margin-top: 60px;
  color: #243a6e;
}

@media (max-width: 576px) {
  .investment .joinSec .joinContent > :first-child {
    display: none;
  }
  .investment .joinSec .joinContent span {
    font-weight: 300;
  }
}

.investment .questionSec {
  margin-bottom: 80px;
}

.investment .questionSec .questionContent > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.investment .questionSec .questionContent .btn-light {
  width: 100%;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  padding: 0.375rem 1.5rem;
  color: #323232;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.investment .questionSec .questionContent .btn-light :focus {
  border: none;
}

.investment .questionSec .questionContent .collapseContent {
  font-weight: 300;
  padding: 1.5rem 3rem;
}

.investment .questionSec .questionContent .collapseContent p {
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=investment.css.map */