@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");
@media screen and (min-width: 481px) and (max-width: 768px) {
  .member {
    /* HTML5 display-role reset for older browsers */
  }
  .member .font-ss {
    font-size: 0.87rem;
  }
  .member .font-s {
    font-size: 1rem;
  }
  .member .font-m {
    font-size: 1.5rem;
  }
  .member .font-l {
    font-size: 2rem;
  }
  .member .maincard {
    margin-bottom: 30px;
    padding: 10px;
    width: 450px;
    height: 800px;
    border-radius: 10px;
    border: solid 2px #d44f44;
    -webkit-box-shadow: 6px 5px #e7e7e7;
            box-shadow: 6px 5px #e7e7e7;
  }
  .member .topside .topsidebox {
    width: 150px;
    height: 50px;
  }
  .member .topside a:hover {
    color: #d44f44;
  }
  .member .topside a:active {
    color: #d44f44;
    -webkit-box-shadow: 0 -2px #d44f44 inset;
            box-shadow: 0 -2px #d44f44 inset;
  }
  .member html,
  .member body,
  .member div,
  .member span,
  .member applet,
  .member object,
  .member iframe,
  .member h1,
  .member h2,
  .member h3,
  .member h4,
  .member h5,
  .member h6,
  .member p,
  .member blockquote,
  .member pre,
  .member a,
  .member abbr,
  .member acronym,
  .member address,
  .member big,
  .member cite,
  .member code,
  .member del,
  .member dfn,
  .member em,
  .member img,
  .member ins,
  .member kbd,
  .member q,
  .member s,
  .member samp,
  .member small,
  .member strike,
  .member strong,
  .member sub,
  .member sup,
  .member tt,
  .member var,
  .member b,
  .member u,
  .member i,
  .member center,
  .member dl,
  .member dt,
  .member dd,
  .member ol,
  .member ul,
  .member li,
  .member fieldset,
  .member form,
  .member label,
  .member legend,
  .member table,
  .member caption,
  .member tbody,
  .member tfoot,
  .member thead,
  .member tr,
  .member th,
  .member td,
  .member article,
  .member aside,
  .member canvas,
  .member details,
  .member embed,
  .member figure,
  .member figcaption,
  .member footer,
  .member header,
  .member hgroup,
  .member menu,
  .member nav,
  .member output,
  .member ruby,
  .member section,
  .member summary,
  .member time,
  .member mark,
  .member audio,
  .member video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
  .member article,
  .member aside,
  .member details,
  .member figcaption,
  .member figure,
  .member footer,
  .member header,
  .member hgroup,
  .member menu,
  .member nav,
  .member section {
    display: block;
  }
  .member body {
    line-height: 1;
  }
  .member ol,
  .member ul {
    list-style: none;
  }
  .member blockquote,
  .member q {
    quotes: none;
  }
  .member blockquote:before,
  .member blockquote:after,
  .member q:before,
  .member q:after {
    content: '';
    content: none;
  }
  .member table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
  }
  .member a {
    text-decoration: none;
  }
  .memsidebar {
    display: none;
    width: 155px;
    height: 550px;
  }
  .memsidebar .avatar {
    width: 130px;
    height: 130px;
    background-color: #ccc;
    border-radius: 10px;
  }
  .memsidebar .whiteSpacePre {
    white-space: pre;
  }
  .memsidebar .sidebar {
    width: 100px;
    height: 280px;
  }
  .memsidebar .wrapper {
    width: 100px;
    height: 40px;
  }
  .memsidebar .wrapper .icons {
    margin-right: 10px;
  }
  .memsidebar a:hover {
    color: #d44f44;
  }
  .memsidebar a:active {
    color: #d44f44;
  }
  .memcard .wrapper .icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .memcard .wrapper a:hover {
    color: #d44f44;
  }
  .memcard .wrapper a:active {
    color: #d44f44;
  }
  .memcard .container li {
    margin-top: 30px;
  }
  .memcard .container li .item {
    width: 80px;
    height: 18px;
    color: #787878;
  }
  .memcard .container li .item2 {
    width: 100px;
    height: 18px;
    color: #787878;
  }
  .memshop .wrapper .icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .memshop .wrapper a {
    color: #d44f44;
  }
  .memshop .wrapper a .icons {
    margin-top: -2px;
    margin-left: 10px;
  }
  .memshop .container {
    width: 410px;
  }
  .shoppinglist .listhead {
    width: 410px;
    height: 50px;
    background-color: #cdcdcd;
    margin-top: 20px;
  }
  .shoppinglist .listhead th {
    text-align: center;
    vertical-align: middle;
  }
  .shoppinglist .listhead td {
    text-align: center;
    vertical-align: middle;
  }
  .shoppinglist .box {
    width: 90px;
    height: 90px;
    background-color: blue;
    border-radius: 10px;
    margin: 5px;
  }
  .memlike .wrapper .icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .memlike .likecard {
    width: 150px;
    height: 200px;
    margin: 10px;
    border: solid1px #787878;
    border-radius: 10px;
    text-align: center;
  }
  .memlike .likecard .mark {
    width: 100px;
    height: 100px;
    border: solid 1px #787878;
    border-radius: 10px;
    margin: 10px auto;
  }
  .meminform .wrapper .icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .meminform .informbar {
    width: 400px;
    height: 100px;
    border: solid1px #787878;
    border-radius: 10px;
    margin: 10px;
  }
  .meminform .informbar .sign {
    width: 60px;
    height: 60px;
    border: solid 1px #787878;
    border-radius: 10px;
    margin: auto 10px;
  }
  .meminform .informbar .textbox {
    width: 750px;
    height: 40px;
    margin-left: 20px;
  }
  .memecoin .wrapper .icons {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .memecoin .coincard {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: solid1px #787878;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 4px 3px #e7e7e7;
            box-shadow: 4px 3px #e7e7e7;
  }
  .memecoin .coincard .one {
    color: #0d5661;
  }
  .memecoin .coincard .two {
    color: #243a6e;
  }
  .memecoin .coincard .three {
    color: #d44f44;
  }
  .memecoin .explain {
    margin-top: 30px;
  }
  .memecoin .explain p {
    color: #787878;
  }
}
/*# sourceMappingURL=member-rwd.css.map */