$primary: #0d5661;
$secondary: #243a6e;
$accent: #d44f44;
$white: #ffffff;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;

.productItems {
  margin-top: 50px;
  font-size: 16px;

  .productItem {
    margin-bottom: 30px;
    @media (max-width:768px) {
      text-align:-webkit-center
    }
    .productPic {
      max-width: 270px;
      position: relative;
      &:hover{
        background-color: $font-black;
      }
      img {
        width: 100%;
        height: 240px;
        object-fit:cover;
        &:hover{
          opacity: .4;
        }
      }
      .ecoinUse {
        background-color: $secondary;
        width: 70px;
        height: 30px;
        text-align: center;
        color: $white;
        position: absolute;
        top: 10px;
        left: 5px;
      }
      .storeContent{
        position: absolute;
        width: 150px;
        left: calc(25%);
        top: 50%;
        text-align: center;
        color: $white;
        border: 1px solid $white;
        display: none;
        &:hover{
          display: block;
        }
      }
    }
    .textArea {
      .merchantName{
        margin: 10px 0;
        color: $font-gray;
      }
      .title {
        font-size: 20px;
        height: 60px;
      }
      .priceDiscount{
        color: $accent;
        font-size: 24px;
        margin-right: 10px;
      }
      .price {
        text-decoration: line-through;
        transform: translateY(10px);
      }
    }
    .cart {
      margin-right: 10px;
    }
    input[type='radio'] {
      display: none;
    }
    .favore {
      transform: translateY(10px);
    }
  }

  .productListItem {
    margin-bottom: 30px;
    background-color: #f0f0f0;
    .productPic {
      max-width: 270px;
      img {
        width: 100%;
        height: 240px;
        object-fit:cover;
      }
    }
    .textArea {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 480px;
      .merchantName{
        margin: 10px 0;
        color: $font-gray;
      }
      .title {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .outline{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .priceDiscount{
        color: $accent;
        font-size: 24px;
        margin-right: 10px;
      }
      .price {
        text-decoration: line-through;
        transform: translateY(10px);
      }
    }
    .cart {
      margin-right: 10px;
      width: 360px;
      text-align: center;
    }
    input[type='radio'] {
      display: none;
    }
    .favore {
      transform: translateY(10px);
    }
  }
}
