$primary_color: #7367f0;
$success_color: #28c76f;
$danger_color: #ea5455;
$warning_color: #ff9f43;
$info_color: #00cfe8;
$secondary_color: #e8cd00;
$white: #ffffff;

$primary_hover: #5344ed;
$primary_hover_bg: #4839eb;
$primary_focus: #7367f0;

.contractsMng {
  .row {
    margin: 0;
  }

  h4,
  h2,
  h5,
  h6,
  p,
  span,
  li {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.75;
    letter-spacing: 1.2px;
  }

  .btn {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1 rem;
    line-height: 1.75;
    letter-spacing: 1.2px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .btn-primary {
    color: $white;
    background-color: $primary_color;
    border-color: $primary_color;
    &:hover {
      box-shadow: 0 8px 25px -8px $primary_color;
    }
  }
  .btn-light {
    background-color: $white;
  }

  .main {
    .toolsSec {
      justify-content: space-between;
      button {
        margin-right: 10px;
        width: 100px;
        height: 50px;
        &.actived {
          background-color: $primary_color;
          border-color: $primary_color;
          color: $white;
        }
      }
    }
    .buttonSec {
      justify-content: space-between;
      padding: 0 20px;
      .btn {
        display: flex;
        align-items: center;
        height: 48px;
        width: 48px;
        &.actived {
          background-color: $primary_color;
          border-color: $primary_color;
          color: $white;
        }
      }
    }

    .contractsList {
      .checkbox {
        text-align: center;
        width: 5%;
      }
      .contractId {
        width: 20%;
      }
      .title {
        width: 15%;
      }
      .actions {
        text-align: center;
        width: 10%;
        padding-right: 20px;
      }
      //標題
      .titleSec {
        margin: 30px 0;
        flex-wrap: nowrap;
      }

      //內容
      .detailsSection {
        margin: 30px 0;
        height: 90px;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        &:hover {
          transform: translateY(-4px);
          transition: transform 0.3s ease 0s;
          cursor: pointer;
        }
        .status {
          font-size: 0.875rem;
          color: $white;
          text-align: center;
          width: 80px;
          border-radius: 50px;
          //   background-color: $warning_color;
          line-height: 2;
        }
        .actions {
          .btn-light {
            box-shadow: none;
            border: none;
            background-color: $white;
            &:hover {
              transform: scale(1.2);
              transition: transform 0.35s ease 0s;
            }
          }
          .dropdown-menu {
            min-width: 0;
            text-align: center;
          }
        }
      }
    }

    .paginationSec {
      margin-bottom: 30px;
      justify-content: center;
      ul.pagination {
        margin-bottom: 0;
        .page-link {
          background-color: #e7e7e7;
          color: #212529;
          border: none;
          line-height: 1.75;
          &:hover {
            color: $primary_color;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .page-item.active .page-link {
          background-color: $primary_color;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}
