.allCategories {
  font-size: 16px;
  margin-bottom: 60px;
  cursor: pointer;
}

.classItem {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  
  cursor: pointer;
  .classLink {
    color: #7f7f7f;
    position: relative;
    display: inline-block;
    text-decoration: none;
    .active{
      color: red;
    }
    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s;
    }
    &:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}
