$primary: #243a6e;
$secondary: #0d5661;
$danger: #d44f44;
$dark: #6c757d;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;
$shadow:#E7E7E7;

.productlist{
    .breadcrumb{
        background-color: $bg-light;
        margin:40px 0;
        a{
        color: $font-black;
        }
    }

.sideFilter{
    width: 165px;
    margin-right: 20px;
    @media (max-width:768px) {
        display: none;
    }
}
}