$primary: #243a6e;
$secondary: #0d5661;
$danger: #d44f44;
$dark: #6c757d;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;
$shadow: #e7e7e7;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

.footerSec {
  padding: 50px 5%;
  background-color: $bg-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:before {
    content: '';
    background-color: #f0f0f0;
    position: absolute;
    margin-top: -50px;
    height: 492px;
    width: 100%;
    z-index: -1;
  }
  .subSection {
    font-size: 0.875rem;
    width: 20%;
    margin-bottom: 80px;
    .title {
      font-weight: 700;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      li {
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
    .socialMediaIcon {
      margin-right: 9px;
      .path {
        width: 20px;
      }
    }
  }
  .copyRight {
    font-weight: 300;
    font-size: 0.875rem;
    margin-bottom: 0px;
  }
}
