$primary: #0d5661;
$secondary: #243a6e;
$accent: #d44f44;
$white: #ffffff;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

.btn {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1 rem;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 1.2px;
  width: 196px;
  height: 60px;
  border-radius: 15px;
}

h2,
h4,
p,
span {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.75;
  letter-spacing: 1.2px;
}
