$primary: #243a6e;
$secondary: #0d5661;
$danger: #d44f44;
$dark: #6c757d;
$white: #ffffff;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;

.advantageSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .advantageContent {
    color: $primary;
    display: flex;
    justify-content: center;
    height: 300px;
    .advText {
      p {
        margin-bottom: 1.2px;
      }
    }
    .advNum {
      font-size: 150px;
      margin-left: 70px;
    }
  }
}
