$primary: #243a6e;
$secondary: #0d5661;
$danger: #d44f44;
$dark: #6c757d;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;
$shadow: #e7e7e7;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

// * {
//     .font-s {
//         font-size: 1rem;
//     }

//     html,
//     body,
//     div,
//     span,
//     applet,
//     object,
//     iframe,
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     p,
//     blockquote,
//     pre,
//     a,
//     abbr,
//     acronym,
//     address,
//     big,
//     cite,
//     code,
//     del,
//     dfn,
//     em,
//     img,
//     ins,
//     kbd,
//     q,
//     s,
//     samp,
//     small,
//     strike,
//     strong,
//     sub,
//     sup,
//     tt,
//     var,
//     b,
//     u,
//     i,
//     center,
//     dl,
//     dt,
//     dd,
//     ol,
//     ul,
//     li,
//     fieldset,
//     form,
//     label,
//     legend,
//     table,
//     caption,
//     tbody,
//     tfoot,
//     thead,
//     tr,
//     th,
//     td,
//     article,
//     aside,
//     canvas,
//     details,
//     embed,
//     figure,
//     figcaption,
//     footer,
//     header,
//     hgroup,
//     menu,
//     nav,
//     output,
//     ruby,
//     section,
//     summary,
//     time,
//     mark,
//     audio,
//     video {
//         margin: 0;
//         padding: 0;
//         border: 0;
//         font-size: 100%;
//         font: inherit;
//         vertical-align: baseline;
//     }

//     /* HTML5 display-role reset for older browsers */
//     article,
//     aside,
//     details,
//     figcaption,
//     figure,
//     footer,
//     header,
//     hgroup,
//     menu,
//     nav,
//     section {
//         display: block;
//     }

//     body {
//         line-height: 1;
//     }

//     ol,
//     ul {
//         list-style: none;
//     }

//     blockquote,
//     q {
//         quotes: none;
//     }

//     blockquote:before,
//     blockquote:after,
//     q:before,
//     q:after {
//         content: '';
//         content: none;
//     }

//     table {
//         border-collapse: collapse;
//         border-spacing: 0;
//         margin: 0;
//     }
// }

// //memsidebar
// .memsidebar {
//     width: 155px;
//     height: 550px;

//     .sticker {

//         width: 130px;
//         height: 130px;
//         background-color: #ccc;
//         border-radius: 10px;
//     }

//     .wrapper {
//         width: 155 px;
//         height: 40px;

//         .icons {
//             width: 24px;
//             height: 24px;
//             margin-right: 10px;
//         }

//         h6 {
//             margin: 0px;
//             padding: 0px;
//             width: 50%;
//         }

//     }
// }

// .sidebar a:hover {

//     color: $danger;

// }

// .sidebar a:active {

//     color: $danger;

// }

//memcard

.memcard {
  .card {
    margin-bottom: 30px;
    padding: 20px;
    width: 950px;
    height: 600px;
    border-radius: 10px;
    border: solid 2px $danger;
    box-shadow: 6px 5px $shadow;
  }

  .wrapper {
    .icons {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      margin-left: 10px;
    }

    a {
      color: $font-black;

      .icons {
        margin-top: -2px;
        margin-left: 10px;
      }
    }
  }

  .container {
    li {
      margin-top: 30px;
    }
  }
}

//memshop
.memshop {
  .card {
    margin-bottom: 30px;
    padding: 20px;
    width: 950px;
    height: 600px;
    border-radius: 10px;
    border: solid 2px $danger;
    box-shadow: 6px 5px $shadow;
  }

  .wrapper {
    .icons {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      margin-left: 10px;
    }

    a {
      color: $font-black;

      .icons {
        margin-top: -2px;
        margin-left: 10px;
      }
    }
  }

  //---memshop topbar
  //-->參考：https://wcc723.github.io/css/2020/02/21/css-border/#
  .topsidebar {
    .topbox {
    }
    a.topbox:hover {
      box-shadow: 0 -3px $danger inset;
    }
  }

  //---memshop shoppinglist
  .shoppinglist {
    .listhead {
      width: 850px;
      height: 50px;
      background-color: $bg-gray;
      margin-top: 20px;
    }

    .box {
      width: 90px;
      height: 90px;
      background-color: blue;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
}