.navBlock {
  height: 80px;
  position: relative;
  z-index: 10;

  .navbar.navbar-light {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: 1.2px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
    padding: 0 9.375%;

    .nav-logo {
      padding: 20px 0;
      img {
        width: 150px;
        margin-top: -5px;
      }
    }

    .navbar-nav a {
      color: #323232;

      .separator {
        border-left: 1px solid #323232;
      }

      .cart-icon {
        color: #d44f44;
        margin-top: -0.2rem;
      }
      .cart-amount {
        color: #d44f44;
        font-weight: 400;
        padding-left: 0.5rem;
      }
    }
  }
}
