@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.navBlock .navbar.navbar-light.NavProdDetails {
  box-shadow: none;
}

.navBlock {
  height: 80px;
  position: relative;
  z-index: 10;

  .navbar.navbar-light {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: 1.2px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
    padding: 0 9.375%;

    .nav-logo {
      padding: 20px 0;
      img {
        width: 150px;
        margin-top: -5px;
      }
    }

    .navbar-nav {
      a {
        color: #323232;

        .separator {
          border-left: 1px solid #323232;
        }

        .cart-icon {
          color: #d44f44;
          margin-top: -0.2rem;
        }
        .cart-amount {
          color: #d44f44;
          font-weight: 400;
          padding-left: 0.5rem;
        }
      }
      .memberActions,
      .merchantActions,
      .needsActions {
        position: relative;
        font-size: 16px;
        .memberAvatar,
        .merchantAvatar {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          // background-color: black;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .needsAvatar {
          width: 40px;
          height: 40px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .actionsList {
          border-radius: 5px;
          background-color: white;
          box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid #f0f0f0;
          position: absolute;
          right: 0;
          display: none;
          width: 150px;
          .actionsItem {
            letter-spacing: 1.2px;
            line-height: 1;
            a {
              display: flex;
              align-items: center;
              &:hover {
                color: #d44f44;
                text-decoration: none;
                background-color: #e7e7e7;
              }
              span {
                padding: 8px 16px;
              }
            }
            &.memberName {
              color: #0d5661;
              padding: 8px 16px;
            }
            &.merchantName {
              color: #243a6e;
              padding: 8px 16px;
            }
            &.needsName {
              color: #243a6e;
              padding: 8px 16px;
            }
          }
        }
        &:hover {
          .actionsList {
            display: block;
            animation: growDown 350ms ease-in-out forwards;
            transform-origin: top center;
          }
        }
      }
    }
  }
}

.navbar-nav {
  .prodList {
    position: relative;
    &:hover {
      .nav-prod {
        display: flex;
        animation: growDown 400ms ease-in-out forwards;
        transform-origin: top center;
      }
    }
    .nav-prod {
      font-family: 'Noto Sans TC', sans-serif;
      letter-spacing: 1.2px;
      line-height: 1.75;
      flex-wrap: wrap;
      padding: 32px 32px 16px 32px;
      box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      background-color: #fff;
      position: absolute;
      left: 0;
      // top: 80px;
      display: none;
      grid-gap: 12px;
      min-width: 584px;
      .catItem {
        list-style: none;
        // width: 25%;
        flex: 1 1 120px;
        margin-bottom: 16px;
        .parentCat {
          color: #0d5661;
          font-weight: 400;
        }
        .childCat {
          a {
            font-size: 0.875rem;
            color: #323232;
            text-decoration: none;
            &:hover {
              color: #d44f44;
              border-bottom: 1px solid #d44f44;
            }
          }
        }
      }
    }
  }
}
