.form{
    border-top: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid ;
    height: 60px;

    .fab{
        background: rgba(0,0,0,0);
         width: 40px;
         height: 40px;
         line-height: 35px;
            color: #bbb;
            border: none;
            outline: none;
            cursor: pointer;
            &:hover{
            color:#42a5f5
            }
    }
    textarea{
        margin: 5px 0 5px 0;
        width: 60%;
        height: 40px;
        resize: none;
        border: none;
        outline: none;
        display: inline-block;
        background-color: #f8f9fa;
    }
}