
.merchantHome{
    h2,
    h4,
    h5,
    h6,
    p,
    span {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.75;
    letter-spacing: 1.2px;
  }
    .background{
        // min-height: calc(100vh - 120px);
        // width: 100%;
        height: 100px;
        background-image: url('../images/background_2.jpg');
        background: center center no-repeat;
        background-size: cover;
    }
}
