.fc {
    border-radius: 0.5rem;
    background: white;
    padding: 15px;
    a {
        color: #565656;
    }
    .fc-daygrid-day.fc-day-today {
        background-color: inherit!important; 
    
        .fc-daygrid-day-number {
            color: white;
            padding: 4px 12px;
            border-radius: 50%;
            background-color: $primary_color;
        }
    }
    .fc-button-primary {
        color: #fff;
        background-color: $primary_color!important;
        border-color: $primary_color!important;
        &:hover {
            background-color: $primary_color;
            border-color: $primary_color;
        }
        &::disabled {
            &:hover {
                background-color: #2C3E50;
                border-color: #2C3E50;
            }
        }
    }
}



// .fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border-top-right-radius: 50%;
//     border-bottom-right-radius: 50%;
//     display: flex;
//     justify-content: center;
// }

// .fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border-top-right-radius: 50%;
//     border-bottom-right-radius: 50%;
//     display: flex;
//     justify-content: center;
// }

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    color: #fff;
    background-color: $primary_color;
    border-color: $primary_color;
}

.fc-header-toolbar {
    margin-bottom: 1.5em;
    margin-top: 1.5rem;

    .fc-toolbar-chunk {
        div {
            display: flex;
            align-items: center;

            .fc-toolbar-title {
                font-size: 24px;
            }

            .fc-button {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin: 0 20px;

                .fc-icon {
                    vertical-align: middle;
                    font-size: 1.5em;
                    position: relative;
                    top: -9px;
                    left: -11px;
                }
            }
        }
    }
}