$accent: #d44f44;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;

.cart-payment-page {
  font-size: 0.875rem;
  color: $font-gray;
  background-color: #fff;
  margin-bottom: 60px;
  .form-check input[type="radio"]:checked ~ label:before,
  .form-check input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: $accent;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  p {
    line-height: 1.8;
  }
  .step-wrapper {
    margin: 4.5rem 0 3rem 0;
    font-size: 0.874rem;
    color: $font-black;
  }
  .step-item {
    position: relative;
  }
  .step-item::before {
    content: ' ';
    background-color: $bg-light;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
  }
  .checkout-nav :first-child .step-item::before {
    width: 50%;
    left: 50%;
  }
  .checkout-nav :last-child .step-item::before {
    width: 50%;
    right: 50%;
  }
  .step-item::after {
    border-radius: 15px;
    transform: translate(-50%, -50%);
    content: ' ';
    background-color: #ccc;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 20%;
    position: absolute;
    z-index: 0;
  }
  .active .step-item::after {
    background-color: $accent;
  }
  .text {
    color: #fff;
    position: absolute;
    transform: translate(-45%, -45%);
    z-index: 1;
  }
  .title{
    font-size: 1.25rem;
    color: $font-black;
  }
  .font-black{
    color: $font-black;
  }
}
