<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bannerSec">
        <h2></h2>
        <button></button>
      </div>
    <div class="silderSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
    </div>
    <div class="advantageSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
        <div class="advantageContent">
            <div class="text">
                <h4></h4>
                <p></p>
                <img src="" alt="" class="advNum">
            </div>
            <img src="" alt="" class="advImg">
        </div>
    </div>
    <div class="createStoreSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
        <div class="createStoreContent">
            <div class="step">
                <img src="" alt="" class="stepNum">
                <h4></h4>
            </div>
            <img src="" alt="" class="arrow">
        </div>
    </div>
    <div class="feeSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
        <div class="feeContent">
            <div class="standardPlan">
                <img src="" alt="" class="planIcon">
                <h4></h4>
                <ul class="plan">
                    <li></li>
                </ul>
            </div>
            <button></button>
        </div>
    </div>
    <div class="partnershipSec">
    </div>
    <div class="brandListSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
        <div class="brandContent">
            <div class="brandInfo">
                <img src="" alt="" class="brandLogo">
                <p class="brandName"></p>
            </div>
        </div>
    </div>
    <div class="storePromSec">
        <h4></h4>
        <p></p>
    </div>
    <div class="questionSec">
        <div class="secTitle">
            <h4></h4>
            <p></p>
        </div>
        <div class="questionContent">
            <ul class="question">
                <li></li>
            </ul>
            <ul class="answer">
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>