$primary: #243a6e;
$secondary: #0d5661;
$danger: #d44f44;
$dark: #6c757d;
$font-black: #323232;
$font-gray: #787878;
$bg-gray: #cdcdcd;
$bg-light: #f0f0f0;
$shadow: #e7e7e7;

.memQA{
.collapseContent {
    font-weight: 300;
    padding: 1.5rem 3rem;
    p {
      margin-bottom: 0.5rem;
    }
  }
}

