
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

.template{
    .recommend-main {
        padding: 5px;
        margin-top: 1rem;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
    }
    }



