.filter {
  background-color: #f0f0f0;
  align-items: center;

  .filterRight {
    align-items: flex-end;
    .choiceView {
      transform: translateY(-4px);
    }
    label {
      width: 90px;
    }
    select {
      width: 170px;
    }
  }
}
