.sideFilter {
  .filterItem {
    margin-bottom: 30px;
    margin-top: 80px;
    .title {
      padding-left: 10px;
      border-bottom: 2px solid #f0f0f0;
    }
  }
}

.priceRange {
  font-size: 16px;
  .showPrice {
    label {
      width: 50px;
      text-align: center;
      @media (max-width: 991px) {
        width: 40px;
      }
    }
  }
  .rc-slider-mark {
    padding-top: 7px;
    .rc-slider-mark-text {
      font-size: 16px;
    }
  }
  .rc-slider-step {
    span {
      background-color: #6d7275;
      border: none;
    }
  }
  .rc-slider-handle {
    background-color: #6d7275;
    border: none;
    &:focus {
      border-color: #6d7275;
    }
  }
  .rc-slider-handle-dragging {
    border-color: #6d7275 !important;
    box-shadow: none !important;
  }
  .rc-slider-track {
    background-color: #6d7275;
  }
}
